@keyframes animacionEntrar {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes animacionSalir {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-100%);
    }
}

.backgraund {
    background-position: center -7.95px;
    background-image: url("./../../../assets/images/pic04.jpg");
}