<section id="two" class="spotlight style2 right" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500" data-aos-anchor-placement="center-bottom">
    <span class="image fit main"><img src="./../../../assets/images/pic03.jpg" alt="" /></span>
    <div class="content">
        <header>
            <h2 class="algoVistual1">Construcción de </h2>
            <h2 class="algoVistual2 ">ALGO VIRTUAL</h2>

        </header>
        <br>
        <div>

            En base a la investigación y a la estrategia de Aprendizaje basado en problemas. (ABP) se diseña la app “algo virtual” cuyo nombre provine de los dos conceptos primordiales en los cuales se basa esta investigación. “algo” se deriva de la palabra algoritmo
            que tiene una fuerte relación con la forma de expresar la lógica y virtual que a su vez se refiere a la experiencia mediante la cual, el usuario de
            <h5 class="algoVistual ">algo virtual </h5>puede experimentar en el proceso de fortalecer sus destrezas para razonar lógicamente.
        </div>
    </div>
    <a href="#three " class="goto-next scrolly ">Next</a>
</section>