h2.algoVistual1 {
    line-height: 10px;
    display: inline;
}

h2.algoVistual2 {
    font-family: 'varino';
    display: inline;
}

h5.algoVistual {
    font-family: 'varino';
    display: inline;
}