<footer id="footer">
    <ul class="icons">
        <li><a href="https://github.com/algovirtual2020" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="#" class="icon solid alt fa-envelope"><span class="label">Gmail</span></a></li>
        <li><a href="https://www.youtube.com/channel/UCRU9HfQQ5D6RfEGO8pmkrzw?view_as=subscriber" class="icon brands alt fa-youtube"><span class="label">Youtube</span></a></li>
    </ul>
    <ul class="copyright">
        <li> algovirtual2020@gmail.com</li>
        <li> {{ano}}</li>
    </ul>
</footer>